// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import './constant.scss';
@import './responsive.scss';

.body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  margin: -10px;
  background-color: #f9fafa;
  min-height: 100vh;
}

.welcome_body {
  min-height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  margin: -10px;
  font-family: 'Electrolize', sans-serif;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.row-center {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.stack {
  display: flex;
  flex-direction: column;
}

.row-gap {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.center-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contain {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.circle {
  display: flex;
  height: 40px;
  width: 40px;
  background-color: red;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.circle-image-crop {
  width: 23px;
  height: 23px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 10px;
  object-fit: cover;
}

.circle-image {
  display: inline;
  height: 40px;
  width: 40px;
  margin-top: -6.5px;
  margin-left: -7.5px;
  // background-color: pink;
}

.black_shadow {
  background-color: $secondary_shadow;
}

.box {
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 4px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

input:focus {
  // transition-delay: 300ms;

  outline: none;
  border-color: $primary_color;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.lite-text {
  font-weight: 300;
}

.bold-red {
  color: $primary_color;
  font-weight: 500;
  cursor: pointer;
}

.disable {
  opacity: 0.45;
}
