$primary_color: #ED5A35;
$secondary_color: #2E4B64;
$secondary_shadow: #28435A;
$primary_shadow: #FDEEE6;
$black_shadow: #EDEDED;


$h1: 20px;
$h2: 18px;
$h3: 16px;
$h4: 14px;
$p: 12px;
$h5: 10px;
$h6: 8px;